<!-- Footer Start -->

<div class="footer padd">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <!-- Footer widget -->
                <div class="footer-widget">
                    <!-- Logo area -->
                    <div class="logo">
                        <img class="img-responsive" src="{{ asset('bundles/acmarchelunch/img/logo.png') }}"
                             alt=""/>
                        <!-- Heading -->
                        <h1>Lunchs en ligne</h1>
                    </div>
                    <!-- Paragraph -->
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et magna aliqua.</p>
                    <hr/>
                    <!-- Heading -->
                    <h6>On-line Payment Clients</h6>
                    <!-- Images -->
                    <a href="#"><img class="payment img-responsive"
                                     src="{{ asset('bundles/acmarchelunch/img/payment/2co.gif') }}" alt=""/></a>
                    <a href="#"><img class="payment img-responsive"
                                     src="{{ asset('bundles/acmarchelunch/img/payment/authorizenet.gif') }}"
                                     alt=""/></a>
                    <a href="#"><img class="payment img-responsive"
                                     src="{{ asset('bundles/acmarchelunch/img/payment/discover.gif') }}" alt=""/></a>
                    <a href="#"><img class="payment img-responsive"
                                     src="{{ asset('bundles/acmarchelunch/img/payment/egold.gif') }}"
                                     alt=""/></a>
                    <a href="#"><img class="payment img-responsive"
                                     src="{{ asset('bundles/acmarchelunch/img/payment/mastercard.gif') }}"
                                     alt=""/></a>
                    <a href="#"><img class="payment img-responsive"
                                     src="{{ asset('bundles/acmarchelunch/img/payment/paypal.gif') }}"
                                     alt=""/></a>
                    <a href="#"><img class="payment img-responsive"
                                     src="{{ asset('bundles/acmarchelunch/img/payment/visa.gif') }}" alt=""/></a>
                    <a href="#"><img class="payment img-responsive"
                                     src="{{ asset('bundles/acmarchelunch/img/payment/worldpay.gif') }}" alt=""/></a>
                </div> <!--/ Footer widget end -->
            </div>
            <div class="col-md-3 col-sm-6">
                <!-- Footer widget -->
                <div class="footer-widget">
                    <!-- Heading -->
                    <h4>Famous Dishes</h4>
                    <!-- Images -->
                    <a href="#"><img class="dish img-responsive"
                                     src="{{ asset('bundles/acmarchelunch/img/dish/dish1.jpg') }}" alt=""/></a>
                    <a href="#"><img class="dish img-responsive"
                                     src="{{ asset('bundles/acmarchelunch/img/dish/dish1.jpg') }}" alt=""/></a>
                    <a href="#"><img class="dish img-responsive"
                                     src="{{ asset('bundles/acmarchelunch/img/dish/dish1.jpg') }}" alt=""/></a>
                    <a href="#"><img class="dish img-responsive"
                                     src="{{ asset('bundles/acmarchelunch/img/dish/dish1.jpg') }}" alt=""/></a>
                    <a href="#"><img class="dish img-responsive"
                                     src="{{ asset('bundles/acmarchelunch/img/dish/dish1.jpg') }}" alt=""/></a>
                    <a href="#"><img class="dish img-responsive"
                                     src="{{ asset('bundles/acmarchelunch/img/dish/dish1.jpg') }}" alt=""/></a>
                    <a href="#"><img class="dish img-responsive"
                                     src="{{ asset('bundles/acmarchelunch/img/dish/dish1.jpg') }}" alt=""/></a>
                    <a href="#"><img class="dish img-responsive"
                                     src="{{ asset('bundles/acmarchelunch/img/dish/dish1.jpg') }}" alt=""/></a>
                    <a href="#"><img class="dish img-responsive"
                                     src="{{ asset('bundles/acmarchelunch/img/dish/dish1.jpg') }}" alt=""/></a>
                </div> <!--/ Footer widget end -->
            </div>
            <div class="clearfix visible-sm"></div>
            <div class="col-md-3 col-sm-6">
                <!-- Footer widget -->
                <div class="footer-widget">
                    <!-- Heading -->
                    <h4>Je m'inscris</h4>
                    <!-- Paragraph -->
                    <p>Pour commander inscrivez vous, et commencer à effectuer vos achats.</p>
                    <!-- Subscribe form -->
                    <br/><br/>

                    <a class="btn btn-danger" href="{{ path('fos_user_registration_register') }}" type="button">Remplir
                        le formulaire</a>

                </div> <!--/ Footer widget end -->
            </div>
            <div class="col-md-3 col-sm-6">
                <!-- Footer widget -->
                <div class="footer-widget">
                    <!-- Heading -->
                    <h4>Contactez nous</h4>
                    <div class="contact-details">
                        <!-- Address / Icon -->

                        <i class="fa fa-map-marker br-red"></i> <span>#22, Boulevard du Midi,<br/>ADL - Guichet économique,<br/> 6900 - Marche-en-Famenne</span>
                        <div class="clearfix"></div>
                        <!-- Contact Number / Icon -->
                        <i class="fa fa-phone br-green"></i> <span>+32 84 32 70 78</span>
                        <div class="clearfix"></div>
                        <!-- Email / Icon -->
                        <i class="fa fa-envelope-o br-lblue"></i> <span><a href="#">lunch@marche.be</a></span>
                        <div class="clearfix"></div>
                    </div>
                    <!-- Social media icon -->
                    <div class="social">
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div> <!--/ Footer widget end -->
            </div>
        </div>
        <!-- Copyright -->
        <div class="footer-copyright">
            <!-- Paragraph -->
            <p>&copy; Copyright 2017 <a href="http://cst.marche.be">CST</a></p>
        </div>
    </div>
</div>

<!-- Footer End -->