{% set action = app.request.attributes.get("_route") %}

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Vos commandes... <b
                class="caret"></b></a>
    <ul class="dropdown-menu">
        <li>
            <a href="{{ path('aclunch_admin_commande_valider_index') }}"> A valider </a>
        </li>

        <li>
            <a href="{{ path('aclunch_admin_commande_index') }}"> A livrer </a>
        </li>
        <li>
            <a href="{{ path('aclunch_admin_commande_archive') }}"> Archives </a>
        </li>
    </ul>
</li>

<li>
    <a href="{{ path('aclunch_admin_commerce_index') }}"> Votre commerce
    </a>
</li>

<li>
    <a href="{{ path('aclunch_admin_produit_index') }}"> Vos produits
    </a>
</li>

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Paramètres... <b
                class="caret"></b></a>
    <ul class="dropdown-menu">
        <li>
            <a href="{{ path('aclunch_admin_categorie_index') }}"> Vos catégories </a>
        </li>
        <li>
            <a href="{{ path('aclunch_admin_ingredient_index') }}"> Vos ingrédients </a>
        </li>
        <li>
            <a href="{{ path('aclunch_admin_supplement_index') }}"> Vos suppléments </a>
        </li>
    </ul>
</li>